@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #ccc;
}
.cf:after {
    display: block;
    content: " ";
    clear: both;
}
#cf:after {
    content: "";
    display: block;
    clear: both;
}

header {
    height: 50px;
}
/* top */
.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-logo{
    width: 100px;
    height: 50px;
    padding: 10px;
    /* border: 1px solid #000; */
}
.top-logo p {
    height: 20px;
    font-size: 1.25rem;
}

.top-searchbox{
    min-width: 350px;
    width: 70%;
    height: 50px;
    /* border: 1px solid #000; */
}

.top-searchbox input {
    min-width: 350px;
    width: 100%;
    font-size: 20px;
    border-radius: 6px;
    padding: 4px;
    margin-top: 7.5px;
    border: none;

}

.top-personalmenu{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #717171;
    /* border: 1px solid #000; */
    
}
/* /top 끝 */


/* main */
main {
}
    
/* 좌측 메뉴 섹션 시작 */
#section-two-member-channellist {
    position: absolute;
    top: 50px;
    height: calc(100% - 50px);
    border-right: 1px solid black;
    min-width: 250px;
    width: 20%;
    overflow-y: auto;
}

/* 로그인한 본인 이미지&닉네임&+버튼 시작 */

main .loginmemberbox {
    height: 60px;
    padding: 5px 0 5px 8px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; 
}

main .loginmemberbox ul {
    display: flex;
    width: 100%;
}

main .loginmemberbox ul li {
    /* border: 1px solid #000; */
}
main .loginmemberbox ul .login-img {
    width: 50px;
    height: 50px;
    border-radius: 32px;
    overflow: hidden;
    border: 2px solid red;
    cursor: pointer;
}
main .loginmemberbox ul .login-img img {
    max-width: 50px;
    width: 50px;
    height: 50px;
    
}
main .loginmemberbox ul .login-name {
    margin-left: 4px;
    margin-top: 4px;
    padding: 8px 4px 0 4px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    display: flex;
    cursor: pointer;
}

/* 팝업메뉴 시작 */
.personalmenu-chioce {
    font-size: 12px;
    display: none;
    width: 80%;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    padding: 20px;
    border-radius: 8px;
    /* background-color: red; */
}
/* /팝업메뉴 끝 */

main .loginmemberbox ul .loginmember-plus {
    margin: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 28px;
    text-align: center;
    margin-left: auto;
    border-radius: 32px;
    cursor: pointer;
}

main .loginmemberbox ul .loginmember-plus p {
    /* user-select: none; */
  }

    /* 호버효과 */
    main .loginmemberbox ul .loginmember-plus:hover {
        background-color: #717171;
    }
    main .loginmemberbox ul .login-name:hover  {
        background-color: #717171;
    }
/* /로그인한 본인 이미지&닉네임&+버튼 끝


/* 채널 목록 시작 */

main .channellist {
    padding-left: 12px;
    margin-top: 12px;
}
main .channellist ul li {
    display: flex;
    margin-bottom: 4px;
}
main .channellist .chanelbox p {
    font-size: 18px;
    border-radius: 4px;
    /* padding: 2px; */
}
main .channellist .chanelbox p:first-child{
    margin-right:4px;
}
main .channellist ul li p:first-child:not(.channeltogglebox p) {
    margin-left: 10px;
}
.createchannelbtn {
    margin-top: 10px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* /채널 목록 끝 */


/* 멤버목록 시작 */
main .memberlist {
    padding-left: 12px;
    margin-top: 12px;
}
main .memberlist ul li {
    display: flex;
    margin-bottom: 4px;
}
/* main .channellist ul li p:first-child { */
    /* margin-right: 12px; */
/* } */
main .memberlist .memberbox p {
    font-size: 18px;
    border-radius: 4px;
    padding: 2px;
    /* background-color: red; */
}
main .memberlist .memberbox .memberimg{
    margin-left: 10px;
    overflow: hidden;
    margin-top: 4px;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 4px;
    background-color: #717171;
    
}
main .memberlist ul li p:first-child:not(.memberbox p) {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 4px;
}
/* /멤버목록 끝 */
/* /좌측 메뉴 섹션 끝 */

/* 우측 채팅방 섹션 시작 */
#section-three-chatroom {
    position: absolute;
    right: 0;
    width: 80%;
    height: calc(100% - 50px);
    background-color: white;
}

/* /우측 채팅방 섹션 끝 */
/* /main 끝*/



.currentchannel {
    height: 60px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;    
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.currentchannel p:first-child {
    margin-right: 10px;
}
.currentchannel div {
    display: flex;
}
.currentchannel p {
    padding-top: 8px;
    height: 50px;
}
.chatwritebox {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    
}
/* 미디어쿼리, 1200이하가되면 좌측메뉴를 지워준다 */
@media screen and (max-width:1200px){
    #section-two-member-channellist {
        display: none;
    }
    #section-three-chatroom {
        position: absolute;
        right: 0;
        width: 100%;
        height: calc(100% - 50px);
        border: 1px solid #000;
    }
}